/* Стилі для картинки */
.image {
    float: right;
    margin-left: 10px;
}

/* Стилі для контейнера тексту */
.text-container {
    overflow: hidden;
}

/* Стилі для заголовка h1 */
h1 {
    color: white; /* Змінено колір тексту заголовка на білий */
    text-align: center;
}

/* Стилі для головного контейнера */
body {
    background-color: black; /* Змінено фоновий колір сторінки на чорний */
    font-family: Arial, sans-serif;
    color: white; /* Змінено колір тексту всередині сторінки на білий */
}

/* Стилі для зображення */
img {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


