/* Стилі для картинки */
.image {
    float: right;
    margin-left: 10px;
}

/* Стилі для прямокутника note_№? */
.note-number {
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

/* Стилі для текстового прямокутника */
.text-box {
    color: white;
    text-align: center;
    width: 400px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden; /* Додаємо властивість overflow: hidden; */
}

/* Стилі для головного контейнера */
body {
    background-color: black; /* Змінено фоновий колір сторінки на чорний */
    font-family: Arial, sans-serif;
    color: white; /* Змінено колір тексту всередині сторінки на білий */
}
